<!doctype html>
<html lang="no">

<head>
  <meta charset="utf-8">

  <title>Bokanbefalinger brukerstyring</title>
  <meta name="author" content="Deichmanske Bibliotek">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/brukerstyring/css/style.css" type="text/css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>

<body autocomplete="off">
  <div id="container">
    <h2>Bokanbefalinger brukerstyring</h2>

    <div class="ny-kilde">
      <div class="kilde-navn-ny">Opprett ny kilde</div>
      <div class="ny-kilde-info"><form autocomplete="off">
        <label>Navn:</label> <input id="new-source-name" type="text">
        <label>Hjemmeside:</label><input id="new-source-homepage" class="homepage" type="text">
        <button class="big" id="new-source">Opprett</button></form>
      </div>
      <div class="clearfix"></div>
    </div>

    <% @sources.each do |source| %>
      <div class="kilde">
        <div class="kilde-navn"><%= source["name"] %></div>
        <div class="triangle open"></div>
        <div class="clearfix"></div>
        <div class="kilde-innhold">
          <div class="kilde-info">
            <label>URI:</label> &lt;<span class="uri"><%= source["uri"] %></span>&gt;
            <label>Hjemmeside:</label><input class="homepage" type="text" value="<%= source['homepage'] %>">&nbsp;
            <button class="save-source">lagre</button>
            <button class="delete-source" <%= 'disabled' if source["users"] %>>slett</button>
          </div>
          <table class="brukere">
            <thead>
              <tr>
                <th>navn</th>
                <th>e-post</th>
                <th>nytt passord</th>
                <th colspan="2">endringer</th>
                <th>info</th>
              </tr>
            </thead>
            <tbody>
              <tr class="ny-bruker"><form autocomplete="off">
                <td class="navn"><input class="navn" type="text" value=""></td>
                <td><input class="epost" type="text" value=""><input class="uri" type="hidden" value="<%= source['uri'] %>"></td>
                <td></td>
                <td colspan="2" class="endre"><button class="create-new-user">opprett ny bruker</button></td>
                <td class="info"></td></form>
              </tr>
              <% Array(source["users"]).each do |user| %>
                <tr class="bruker">
                  <td><input type="text" class="navn" value="<%= user['name'] %>"></td>
                  <td><input class="user-uri" type="hidden" value="<%= user['uri']%>"><input class="epost" type="text" value="<%= user['userAccount']['accountName'] %>"></td>
                  <td class="aktivert"><input class="active" type="checkbox"></td>
                  <td class="endre"><button class="save-user">lagre</button></td>
                  <td class="slett"><button class="delete-user">slett</button></td>
                  <td class="info"></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>

  </div>
  <script>
    $(document).ready(function() {

      // Hide source details
      $('#container').on('click', '.triangle.close', function() {
        $(this).removeClass("close").addClass("open");
        $(this).next().next().slideUp();
      });

      // Show source details
      $('#container').on('click', '.triangle.open', function() {
        $('.kilde-innhold').slideUp();
        $('.close').removeClass("close").addClass("open");
        $(this).removeClass("open").addClass("close");
        $(this).next().next().slideDown();
      });

      // When name is clicked - delegate to nearest triangle
      $('#container').on('click', '.kilde-navn', function() {
        $(this).next().click();
      });

      // Remove source (only possible if source has no users)
      $('#container').on('click', '.delete-source', function(event) {
        if ( ! window.confirm("Er du sikker?") ) {
          return;
        }
        $(this).html("<img class='small' src='/brukerstyring/img/loading.gif'>");
        var $kilde = $(this).parents('.kilde')
        var uri = $kilde.find('.uri').text();

        var request = $.ajax({
          url: 'source',
          type: "DELETE",
          data: { uri: uri },
          dataType: "json"
        });

        request.done(function(data){
          $kilde.remove();
        });

        request.fail(function(jqXHR, textStatus, errorThrown) {
          console.log(textStatus);
        });

      });

      // Update source (currently only homepage updatable)
      $('#container').on('click', '.save-source', function(event) {
        $(this).html("<img class='small' src='/brukerstyring/img/loading.gif'>");
        var $kilde = $(this).parents('.kilde')
        var uri = $kilde.find('.uri').text();
        var name = $kilde.find('.kilde-navn').text();
        var homepage = $kilde.find('.homepage').val()

        var request = $.ajax({
          url: 'source',
          type: "PUT",
          data: {
           uri: uri,
           name: name,
           homepage: homepage
           },
          dataType: "json"
        });

        request.done(function(data){
          console.log(data);
          $kilde.find('.save-source').html("Lagre");
          $kilde.find('.homepage').val(data.source.homepage);
        });

        request.fail(function(jqXHR, textStatus, errorThrown) {
          $kilde.find('.save-source').html("Lagre");
          console.log(textStatus);
        });

      });

      // Create source
      $('#new-source').on('click', function(event) {
        event.preventDefault();
        $(this).html("<img src='/brukerstyring/img/loading.gif'>");
        $('#new-source-name').prop("disabled", true);
        $('#new-source-homepage').prop("disabled", true);

        var request = $.ajax({
          url: 'source',
          type: "POST",
          data: {
            name: $('#new-source-name').val(),
            homepage: $('#new-source-homepage').val()
          },
          dataType: "json"
        });

        request.done(function(data) {
          $('#new-source-name').val("").prop("disabled", false);
          $('#new-source-homepage').val("").prop("disabled", false);
          $('#new-source').html("Opprett");

          var $nykilde = $('.kilde:last').clone();
          $nykilde.find('.bruker').remove();
          $nykilde.find('.kilde-navn').html(data.source.name);
          $nykilde.find('.uri').text(data.source.uri);
          $nykilde.find('.homepage').val(data.source.homepage);
          $nykilde.find('.delete-source').prop("disabled", false);
          $nykilde.insertAfter('.ny-kilde');
        });

        request.fail(function(jqXHR, textStatus, errorThrown) {
          console.log(textStatus);
        });
      });

      // Create new user
      $('#container').on('click', '.create-new-user', function(event) {
        event.preventDefault();
        var $user = $(this).parents('.ny-bruker');
        var email = $user.find('input.epost').val();
        var name = $user.find('input.navn').val();
        var uri = $(this).parents('.kilde').find('span.uri').text();
        $user.find('.info').html("<img class='small' src='/brukerstyring/img/loading.gif'>");
        $user.find('input').prop("disabled", true);

        var request = $.ajax({
          url: 'user',
          type: "POST",
          data: {
            name: name,
            email: email,
            uri: uri,
            active: true

          },
          dataType: "html"
        });

        request.done(function(data) {
          $user.find('.info').html("");
          $user.find('input').val("").prop("disabled", false);
          $user.find('.active').prop("checked", false);
          $user.after(data);
        });

        request.fail(function(jqXHR, textStatus, errorThrown) {
          $user.find('.info').html(jqXHR.responseText);
          $user.find('input').prop("disabled", false);
        });

      });

      // Delete user
      $('#container').on('click', '.delete-user', function(event) {
        event.preventDefault();
        if ( ! window.confirm("Er du sikker?") ) {
          return;
        }
        var $user = $(this).parents('.bruker');
        var $source = $(this).parents('.kilde');
        var user_uri = $user.find('input.user-uri').val();
        var source_uri = $source.find('span.uri').text();
        $user.find('.info').html("<img class='small' src='/brukerstyring/img/loading.gif'>");
        $user.find('input').prop("disabled", true);

        var request = $.ajax({
          url: 'user',
          type: "DELETE",
          data: { user_uri: user_uri,
                  source_uri: source_uri},
          dataType: "json"
        });

        request.done(function(data) {
          $user.remove();
        });

        request.fail(function(jqXHR, textStatus, errorThrown) {
          $user.find('.info').html(jqXHR.responseText);
          $user.find('input').prop("disabled", false);
        });
      });

      // Update user
      $('#container').on('click', '.save-user', function(event) {
        event.preventDefault();
        var $user = $(this).parents('.bruker');
        var $source = $(this).parents('.kilde');
        var user_uri = $user.find('input.user-uri').val();
        var source_uri = $source.find('span.uri').text();
        var name = $user.find('.navn').val();
        var email = $user.find('.epost').val();
        if ( $user.find('.active').is(':checked') ) {
          var active = true;
        } else {
          var active = false;
        }

        $user.find('.info').html("<img class='small' src='/brukerstyring/img/loading.gif'>");
        $user.find('input').prop("disabled", true);

        var request = $.ajax({
          url: 'user',
          type: "PUT",
          data: { user_uri: user_uri,
                  source_uri: source_uri,
                  name: name,
                  email: email,
                  newPassword: active},
          dataType: "json"
        });

        request.done(function(data) {
          $user.find('.info').html("OK. Lagret");
          $user.find('input').prop("disabled", false);
        });

        request.fail(function(jqXHR, textStatus, errorThrown) {
          $user.find('.info').html(jqXHR.responseText);
          $user.find('input').prop("disabled", false);
        });
      });
    });
  </script>
</body>
</html>
